<%- include('layout.ejs'); %>

<!DOCTYPE html>
<html>
    <head>  
        <title>Text Area Example</title>
    </head>
    <body>   
        <label id="Feedback" for="textarea">Enter Text:</label><br>  
        <form method="post">
            <input type="text" id="feedback" rows="4" cols="50" name="feedback"/>
            <button type="submit" >click</button>
        </form>
        
    </body>
</html>