nav{
    width: 100%;
    /*position: r;*/
    display: flex;
    background: #02052f;
    align-items: center;
}

h1{
    color: white;
}

.Logo{
    height: 40px;
    width: 40px;
}

.logo-container{
    margin-left: 0;
    display: flex;
    align-items: center;
}

.Brand{
    text-decoration: none;
    font-weight: bolder;
    color: white;
    margin: 0;
}

.links{
    right: 0;
    float: right;
}

nav ul{
    margin-right: 0;
    display: flex;
}

nav ul li{
    list-style: none;
    padding: 3px;
    border-radius: 5px;
}

nav ul li a{
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    color: white;
    border-radius: 5px;
    transition: 0.1s ease;
}

nav ul li a:hover{
    background: #212467;
}
.nav_button{
    background: transparent;
    border-collapse: collapse;
    width: 20px;
    height: 40px;
    margin-left: 40px;

}

.subnav{
     display: none;
    list-style-type: none;
    height: 80px;
    align-content: center;
    position: relative;
    margin-top: 0px;
    text-align: Left;
    border-width:2px ;
    border-style: ridge;
    border-radius: 10px;
    background: #02052F;
    padding-right: 35px;
    padding-bottom: 10px;
    padding-top: 10px;



}
.logo2-container:hover > .subnav{
    display:block;
    animation: slideUp .2s ease;
    position: absolute;
}
.ui{

    color: white;
    background-color: #02052F;
}
.ui2{
    color: white;
    margin-left: -14px;
    font-size: medium;
}
@keyframes slideUp{
    0%{
        opacity:0;
        transform: translateY(-100px);
    }
    100%{
        opacity:1;
        transform:none;
    }
}
.btui{
    background-color: #02052F;
    color:white;
    border-collapse: collapse;
    border: none;
    font-size: medium;
}
 .ui2 :hover{
    background-color: transparent;
}